root = true

# formatting for all files
[*]
charset = utf-8
indent_style = tab
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# custom formatting (will override above)
# custom formatting for .ts
[*.ts]
quote_type = single
ij_typescript_use_double_quotes = false

# custom formatting for .md
[*.md]
max_line_length = off
trim_trailing_whitespace = false

# custom formatting for .css
[*.css]
indent_style = space
indent_size = 2
