/* styles for the 'quick facts' button */
.info-button-wrapper {
  --current-color: var(--color-grid-blue);  
  background-color: var(--current-color);
  clip-path: polygon(0% 0%, 0% 70%, 10% 100%, 100% 100%, 100% 30%, 90% 0%);
  transition: background-color 0.3s ease, filter 0.3s ease;
}

.info-button-wrapper:hover {
  --current-color: var(--color-grid-pink);
}

.info-button-wrapper-meltdown {
  --current-color: var(--color-grid-meltdown);  
  background-color: var(--current-color);
  clip-path: polygon(0% 0%, 0% 70%, 10% 100%, 100% 100%, 100% 30%, 90% 0%);
  transition: background-color 0.3s ease, filter 0.3s ease;
}

.info-button-wrapper-meltdown:hover {
  --current-color: var(--color-grid-pink);
}

.info-button { 
  clip-path: inherit;
  background-color: var(--color-button-transparency); 
  padding: 10px 25px;
  display: block;
  color: var(--current-color);
  transition: color 0.3s ease;
}



/* styles for the 'projects' button */
.info-button-wrapper-yellow {
  --current-color: var(--color-grid-blue);  
  background-color: var(--current-color);
  clip-path: polygon(0% 0%, 0% 70%, 10% 100%, 100% 100%, 100% 30%, 90% 0%);  
  transition: background-color 0.3s ease, filter 0.3s ease;
}

.info-button-wrapper-yellow:hover {
  --current-color: var(--color-grid-yellow);
}

.info-button-wrapper-yellow-meltdown {
  --current-color: var(--color-grid-meltdown);  
  background-color: var(--current-color);
  clip-path: polygon(0% 0%, 0% 70%, 10% 100%, 100% 100%, 100% 30%, 90% 0%);  
  transition: background-color 0.3s ease, filter 0.3s ease;
}

.info-button-wrapper-yellow-meltdown:hover {
  --current-color: var(--color-grid-yellow);
}

.info-button-yellow { 
  clip-path: inherit;
  background-color: var(--color-button-transparency); 
  padding: 10px 25px;
  display: block;
  color: var(--current-color);
  transition: color 0.3s ease;
}



/* styles for the secret '???' button */
.info-button-wrapper-red {
  --current-color: var(--color-grid-blue);  
  
  background-color: var(--current-color);
  clip-path: polygon(0% 0%, 0% 70%, 10% 100%, 100% 100%, 100% 30%, 90% 0%);
  
  transition: background-color 0.3s ease, filter 0.3s ease;
}

.info-button-wrapper-red:hover {
  --current-color: var(--color-grid-meltdown);
}

.info-button-wrapper-red-meltdown {
  --current-color: var(--color-grid-meltdown);  
  
  background-color: var(--current-color);
  clip-path: polygon(0% 0%, 0% 70%, 10% 100%, 100% 100%, 100% 30%, 90% 0%);
  
  transition: background-color 0.3s ease, filter 0.3s ease;
}

.info-button-wrapper-red-meltdown:hover {
  --current-color: var(--color-grid-blue);
}

.info-button-red { 
  clip-path: inherit;

  background-color: var(--color-button-transparency); 
  padding: 10px 25px;
  display: block;
  
  color: var(--current-color);
  transition: color 0.3s ease;
}

/* background properties */
.background-layer {
  position: absolute;
  inset: 0;
  background-size: 58px 58px;
  background-position: -29px -29px;
  transition: opacity 1s ease-in-out; /* This controls the fade speed */
}

.grid-blue {
  background-image: linear-gradient(to right, #4dabf7 3px, transparent 3px),
                    linear-gradient(to bottom, #4dabf7 3px, transparent 3px);
  filter: drop-shadow(0 0 10px #4dabf7);
}

.grid-red {
  background-image: linear-gradient(to right, #ff003c 3px, transparent 3px),
                    linear-gradient(to bottom, #ff003c 3px, transparent 3px);
  filter: drop-shadow(0 0 10px #ff003c);
}