.grid-green {
  background-image: linear-gradient(to right, var(--color-background-green) 3px, transparent 3px),
                    linear-gradient(to bottom, var(--color-background-green) 3px, transparent 3px);
  filter: drop-shadow(0 0 10px var(--color-background-green));
}

.header-wrapper {
  background-color: var(--color-grid-green);
  clip-path: polygon(0% 0%, 0% 70%, 10% 100%, 100% 100%, 100% 30%, 90% 0%);
}

.header {
  clip-path: inherit;
  background-color: var(--color-button-transparency); 
  padding: 10px 25px;
  display: block;
  color: var(--color-grid-green);
}

.header-text {
  font-size: clamp(1rem 8vw 6rem);
}