.title {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 700;
}

.subtitle {
  font-size: clamp(1.25rem, 5vw, 1.5rem);
  font-weight: 700;
}

.image {
  transition: transform 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.25);
}

.learn {
  font-size: clamp(1rem, 3vw, 1.5rem);
  text-align: center;
  width: 50vw;
}

@media screen and (max-width: 1331px) {
  .shrinkable {
    max-height: 65vh;
    overflow: scroll;
  }
  .learn {
    width: 75vw;
  }
}

@media screen and (max-width: 525px) {
  .shrinkable {
    max-height: 75vh;
    overflow: scroll;
  }
  .learn {
    width: 90vw;
  }
}