.connectTitle {
    font-size: 2rem;
    font-weight: 700;
}

.subText {
    font-size: 1rem
}

.emailButton {
  color: #0a0a0a;
  font-size: 1.25rem;
  padding: 0.5em 2em;
  background-color: #ffffff;
  border: none;
  border-radius: 1.75rem;
  position: relative;
  font-weight: bold;
  border: 1.75px solid transparent;
  border-color: #ffffff;
  isolation: isolate;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
}

.emailButton:hover {
  background-color: #0a0a0a;
  color: #ffffff;
}

.circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6);
  background-color: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .circle {
    width: auto;
    height: auto;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
  }
}
