.connectTitle {
    font-size: clamp(2rem, 5vw, 2rem);
}

.subText {
    font-size: clamp(0.75rem, 3vw, 1rem);
}

.emailButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.75rem, 3vw, 1.25rem);
  padding: 1em 2em;
  margin-left: 0.5rem;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 1.75rem;
  position: relative;
}

/* 
similar styles to 'connect with me' button
but copied to allow for a few changes
*/
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.emailButton::after,
.emailButton::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}

.emailButton::after,
.emailButton::before {
  height: 105%;
  width: 102%;
  translate: -50% -50%;
  animation: 3s spin linear infinite;
  border-radius: 1.75rem;
  background-image: conic-gradient(from var(--angle),
    #ff7171 0%,
    #d691ff 25%,
    #6ff5ff 50%,
    #d691ff 75%,
    #ff7171 100%
  );
}


.emailButton::before {
  filter: blur(0.25rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}