.glitch {
    font-size: clamp(2rem, 8vw, 6rem);
    font-weight: 700;
    text-transform: uppercase;

    position: relative;

    text-shadow:
        0.05em 0 0 #ff7171,
        -0.025em -0.05em 0 #d691ff,
        0.025em 0.05em 0 #6ff5ff;

    animation: glitch 550ms infinite;

    user-select: none;

    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 1em;
}
.glitch span {
    position: absolute;
    top: 0;
    left: 0;
}

.glitch span:first-child {
    animation: glitch 625ms infinite;
    clip-path: polygon(0 0, 100% 0%, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
}

.glitch span:last-child {
    animation: glitch 400ms infinite;
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
    transform: translate(0.0125em, 0.025em);
    opacity: 0.8;
}

@keyframes glitch {
    0% {
        text-shadow:
        0.02em 0.005em 0 #ff7171,
        -0.01em -0.025em 0 #d691ff,
        0.015em 0.025em 0 #6ff5ff;
    }
    14% {
        text-shadow:
        0.02em 0.005em 0 #ff7171,
        -0.01em -0.025em 0 #d691ff,
        0.015em 0.025em 0 #6ff5ff;
    }
    15% {
        text-shadow:
        0.01em -0.02em 0 #ff7171,
        0.015em 0.01em 0 #d691ff,
        -0.025em -0.02em 0 #6ff5ff;
    }
    49% {
        text-shadow:
        0.01em -0.02em 0 #ff7171,
        0.015em 0.01em 0 #d691ff,
        -0.025em -0.02em 0 #6ff5ff;
    }
    50% {
        text-shadow:
        -0.025em 0.01em 0 #ff7171,
        -0.03em 0.015em 0 #d691ff,
        0.003em -0.02em 0 #6ff5ff;
    }
    99% {
        text-shadow:
        -0.025em 0.01em 0 #ff7171,
        -0.03em 0.015em 0 #d691ff,
        0.003em -0.02em 0 #6ff5ff;
    }
    100% {
        text-shadow:
        -0.01em -0.01em 0 #ff7171,
        0.025em 0.02em 0 #d691ff,
        0.02em 0.003em 0 #6ff5ff;
    }
}

.bar {
  width: 100%;
  height: clamp(1px, 3vh, 6px);
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-radius: clamp(1px, 3vh, 3px);;
}

.load {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #ff7171, #d691ff, #6ff5ff);
  animation: load-animation 5s infinite ease-in-out;
}

@keyframes load-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}