@import "tailwindcss";

:root {
  --background: #000817;
  --foreground: #FFFFFF;

  --color-grid-blue: #4DABF7;
  --color-grid-pink: #F783AC;
  --color-grid-orange: #FF8C00;
  --color-grid-yellow: #FFFB82;

  --color-box-background: #050a10;
  --color-box-border: #1e293b;
  --color-box-background-shadow: #000000e6;

  --color-grid-meltdown: #FF003C;

  --color-box-background-meltdown: #1a0c10;
  --color-box-border-meltdown: #600e14;
  --color-box-background-shadow-meltdown: #000000e6;

  --color-button-transparency: #141419cc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #000817;
    --foreground: #FFFFFF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* scroll bar settings */
* {
  scrollbar-width: thin;
  scrollbar-color: #888888 var(--background);
}

/* disable animations for users who've disabled animations in their browser */
@media (prefers-reduced-motion: reduced) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

.pulse-slow {

}

/* screens smaller than 1700 x 950 will have be resizable and reactive, but will not have the same experience as a full desktop/laptop */