.highlight {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.highlight:hover {
  transform: translateY(-0.1rem);
}

.highlight::before {
  content: '';
  position: absolute;

  bottom: 0;
  left: -5;

  height: 2px;
  width: 0;

  background: linear-gradient(90deg, #ff7171, #d691ff, #6ff5ff);
  transition: width 0.3s ease;
}

.highlight::after {
  content: '';
  position: absolute;

  bottom: 0;
  left: -5;

  height: 0;
  width: 2px;

  background: linear-gradient(360deg, #ff7171, #d691ff, #6ff5ff);
  transition: height 0.3s ease;
}

.highlight:hover::before {
  width: 105%;
}

.highlight:hover::after {
  height: 75%;
}

@media screen and (max-width: 800px) {
  .navbar {
    display: none;
  }

  .logodiv {
    padding-left: 0.5rem;
    padding-top: 0.25rem;
  }
}