.title {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 700;
  line-height: 1;
}

.description {
  font-size: clamp(0.75rem, 1.5vw, 2rem);
}

.year {
  color: #0a0a0a;
  font-size: clamp(0.75rem, 3vw, 1.25rem);
  padding: 0.5em 2em;
  background-color: #ffffff;
  border: none;
  border-radius: 1.75rem;
  position: relative;
  font-weight: bold;
  border: 1.75px solid transparent;
  border-color: #ffffff;
  isolation: isolate;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
}

.year:hover {
  background-color: #0a0a0a;
  color: #ffffff;
}

.x {
  color: #0a0a0a;
  transition: color 0.3s ease-in-out;
}

.x:hover {
  color: #ff7171;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade {
  animation: fade 0.5s ease-out;
}

.logo {
  object-fit: contain;
  border: none;
  border-radius: 1rem;
}

.jobtitle {
  font-size: clamp(1rem, 1.4vw, 1.5rem);
  font-weight: 700;
}

.jobdate {
  font-size: clamp(0.75rem, 1vw, 1.5rem);
}

.jobinfo {
  font-size: 0.8rem;
}

.skills {
  font-size: clamp(1rem, 1.25vw, 1.5rem);
}

@media screen and (max-width: 1331px) {
  .buttonContainer {
    gap: 2;
    flex: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .scrollable {
    max-height: 65vh;
    overflow: scroll;
  }
}

@media screen and (max-width: 525px) {
  .scrollable {
    max-height: 75vh;
    overflow: scroll;
  }
}